/*==========CSS RESET==========*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*==========OTHER==========*/
* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	background-color: #F4F3F5;
	color: #211138;
}
a {
	text-decoration: none;
}
/*==========HEADER==========*/
header {
  background-color: #6200EA;
  height: 80px;
  width: 100vw;
  color: white;
	text-transform: uppercase;
	text-align: center;
	display: table;
	letter-spacing: 0.2rem;
}
.logo-text {
	width: 14rem;
	height: 3rem;
	font-size: 1.3rem;
	position: absolute;
	left: calc(50vw - 7rem);
	top: 16px;
}
#logo {
	height: 3rem;
	width: 3rem;
	border: 2px solid white;
	border-radius: 50%;
	display: inline-block;
	float: left;
	margin-left: 10px;
}
.logo-text h1 {
	display: inline-block;
	float: right;
	margin-top: 15px;
	margin-left: 10px;
}
.subscribe a {
	border: 2px solid white;
	background-color: white;
	border-radius: 2rem;
	padding: 0.7rem 1.5rem;
	font-size: 0.9rem;
	float: left;
	color: #6200EA;
	font-weight: bold;
}
.subscribe {
	position: absolute;
	top: 20px;
	left: 9vw;
}
.subscribe a:hover {
	background-color: #6200EA;
	color: white;
	transition: 0.1s ease-in-out;
}
		/*-----MEDIA QUERY-----*/
@media screen and (max-width: 1200px) {
	.subscribe {
		left: 1rem;
	}
}
/*==========NAV==========*/
nav {
	height: 60px;
	width: 100vw;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.8rem;
	padding-top: 1.5rem;
	font-weight: bold;
	letter-spacing: 0.2rem;
	background-color: white;
}
nav a {
	color: black;
	padding: 1.5rem 2vw;
}
.current {
	color: #6200EA;
	border-bottom: 2px solid #6200EA;
}
nav a:hover {
	color: rgb(100,100,100);
	transition: 0.1s ease-in-out;
	border-bottom: 2px solid rgb(100,100,100);
}
.current:hover {
	color: #6200EA;
	border-bottom: 2px solid #6200EA;
}
		/*-----MEDIA QUERY-----*/
@media screen and (max-width: 1000px) {
	nav a {
		padding: 1.3rem 1vw;
		letter-spacing: 0.1rem;
		font-size: 0.7rem;
	}
}
/*==========CONTENT==========*/
.content {
	padding-top: 2rem;
	width: 80vw;
	margin: auto;
}
	/*-----FEATURED BLOG POST-----*/
.featured-blog-post {
	background: url("assets/roberto-nickson-5ui0tfMC5ts-unsplash.jpg") center center no-repeat;
	background-size: cover;
	width: 52vw;
	padding: 3rem;
	border-radius: 10px;
	color: white;
	line-height: 1.5rem;
	display: inline-block;
}
.featured-blog-post h2 {
	font-weight: bold;
	font-size: 2rem;
	margin: 1rem 0;
	line-height: 2rem;
}
.featured-blog-post a {
	color: white;
	border: 2px solid white;
	border-radius: 2rem;
	padding: 0.5rem 1.5rem;
	text-transform: uppercase;
	font-size: 0.7rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
}
.featured-blog-post p {
	margin-bottom: 1rem;
}
.uppercase {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.7rem;
	letter-spacing: 0.2rem;
}
.featured-blog-post a:hover {
	color: black;
	background-color: white;
	transition: 0.1s ease-in-out;
}
		/*-----LATEST NEWS-----*/
.latest-news {
	float: right;
	background-color: white;
	border-radius: 10px;
	width: 26vw;
}
.latest-news img {
	width: 5rem;
	border-radius: 10px;
	display: inline-block;
	margin: 1rem;
	margin-right: 0;
}
.latest-news h2 {
	background-color: #6200EA;
	height: 4rem;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-align: center;
	color: white;
	text-transform: uppercase;
	font-size: 0.7rem;
	letter-spacing: 0.2rem;
	font-weight: bold;
	padding-top: 1.7rem;
}
.design-content, .health-content, .politics-content {
	display: inline-block;
	width: calc(35vw - 8rem);
	margin: 1rem 1rem 0 0.7rem;
	font-size: 0.8rem;
	position: absolute;
	top: 0;
	line-height: 0.9rem;
}
.latest-news h3 {
	color: #6200EA;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.7rem;
	letter-spacing: 0.1rem;
	margin-bottom: 0.4rem;
}
.design, .health, .politics {
	position: relative;
}
.latest-news a {
	height: 4rem;
	display: block;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	text-align: center;
	color: #B2ACBA;
	text-transform: uppercase;
	font-size: 0.7rem;
	letter-spacing: 0.2rem;
	font-weight: bold;
	padding-top: 1.7rem;
	border-top: 1px solid #F4F3F5;
}
.latest-news p {
	width: calc(26vw - 8rem);
}
.latest-news a:hover {
	color: black;
	transition: 0.1s ease-in-out;
}
		/*-----BUSINESS AND CULTURE-----*/
.business-culture {
	width: 52vw;
	margin-top: 2vw;
	float: left;
}
.business, .culture {
	background-color: #FFFFFF;
	width: 25vw;
	height: 7rem;
	display: inline-block;
	padding: 1rem;
	border-radius: 10px;
	position: relative;
}
.business-content, .culture-content {
	display: inline-block;
	width: calc(25vw - 8rem);
	position: absolute;
	top: 1rem;
	font-size: 0.8rem;
	margin-left: 0.5rem;
	line-height: 0.9rem;
}
.culture {
	float: right;
}
.business img, .culture img {
	width: 5rem;
	border-radius: 10px;
	display: inline-block;
}
.business-culture h3 {
	color: #6200EA;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.7rem;
	letter-spacing: 0.1rem;
	margin-bottom: 0.2rem;
}
		/*-----SAMPLE BLOG POST-----*/
.sample-blog {
	background-color: white;
	border-radius: 10px;
	padding: 3rem;
	width: 52vw;
	margin-top: 2vw;
	line-height: 1.5rem;
	display: inline-block;
	float: left;
}
.sample-blog h2 {
	font-weight: bold;
	font-size: 2rem;
	margin: 1rem 0;
	line-height: 2rem;
}
.sample-blog a {
	color: #6200EA;
	border: 2px solid #6200EA;
	border-radius: 2rem;
	padding: 0.5rem 1.5rem;
	text-transform: uppercase;
	font-size: 0.7rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
}
.sample-blog p {
	margin-bottom: 1rem;
}
.sample-blog .uppercase {
	color: #B2ACBA;
}
.sample-blog a:hover {
	color: white;
	background-color: #6200EA;
	transition: 0.1s ease-in-out;
}
		/*-----RECOMMENDED NEWS-----*/
.recommended-news {
	display: inline-block;
	float: right;
	background-color: white;
	border-radius: 10px;
	width: 26vw;
	margin-top: 2vw;
}
.recommended-news img {
	width: 5rem;
	border-radius: 10px;
	display: inline-block;
	margin: 1rem;
	margin-right: 0;
}
.recommended-news h2 {
	background-color: #6200EA;
	height: 4rem;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-align: center;
	color: white;
	text-transform: uppercase;
	font-size: 0.7rem;
	letter-spacing: 0.2rem;
	font-weight: bold;
	padding-top: 1.7rem;
}
.science-content, .travel-content, .world-content {
	display: inline-block;
	width: calc(35vw - 8rem);
	margin: 1rem 1rem 0 0.7rem;
	font-size: 0.8rem;
	position: absolute;
	top: 0;
	line-height: 0.9rem;
}
.recommended-news h3 {
	color: #6200EA;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.7rem;
	letter-spacing: 0.1rem;
	margin-bottom: 0.4rem;
}
.science, .travel, .world {
	position: relative;
}
.recommended-news a {
	height: 4rem;
	display: block;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	text-align: center;
	color: #B2ACBA;
	text-transform: uppercase;
	font-size: 0.7rem;
	letter-spacing: 0.2rem;
	font-weight: bold;
	padding-top: 1.7rem;
	border-top: 1px solid #F4F3F5;
}
.recommended-news p {
	width: calc(26vw - 8rem);
}
.recommended-news a:hover {
	color: black;
	transition: 0.1s ease-in-out;
}
		/*-----BLOG POST WITH IMAGE-----*/
		.blog-img {
			background-color: white;
			border-radius: 10px;
			width: 52vw;
			margin-top: 2vw;
			line-height: 1.5rem;
			display: inline-block;
			float: left;
			padding-bottom: 3rem;
		}
		.blog-img h2 {
			font-weight: bold;
			font-size: 2rem;
			margin: 1rem 3rem;
			line-height: 2rem;
		}
		.blog-img a {
			color: #6200EA;
			border: 2px solid #6200EA;
			border-radius: 2rem;
			padding: 0.5rem 1.5rem;
			text-transform: uppercase;
			font-size: 0.7rem;
			font-weight: bold;
			letter-spacing: 0.1rem;
			margin: 0 3rem;
		}
		.blog-img p {
			margin: 0 3rem 1rem;
		}
		.blog-img .uppercase {
			color: #B2ACBA;
		}
		.blog-img img {
			width: 52vw;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			margin-bottom: 2rem;
		}
		.blog-img a:hover {
			color: white;
			background-color: #6200EA;
			transition: 0.1s ease-in-out;
		}
	/*-----CATEGORIES-----*/
		.categories {
			display: inline-block;
			float: right;
			background-color: white;
			border-radius: 10px;
			width: 26vw;
			margin-top: 2vw;
		}
		.categories h2 {
			background-color: #6200EA;
			height: 4rem;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			text-align: center;
			color: white;
			text-transform: uppercase;
			font-size: 0.7rem;
			letter-spacing: 0.2rem;
			font-weight: bold;
			padding-top: 1.7rem;
		}
		.categories a {
			height: 4rem;
			display: block;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			text-align: center;
			color: #B2ACBA;
			text-transform: uppercase;
			font-size: 0.7rem;
			letter-spacing: 0.2rem;
			font-weight: bold;
			padding-top: 1.7rem;
			border-top: 1px solid #F4F3F5;
		}
		.categories a:hover {
			color: black;
			transition: 0.1s ease-in-out;
		}
		.categories li {
			font-weight: bold;
			letter-spacing: 0.1rem;
			font-size: 0.7rem;
			line-height: 2.5rem;
			text-transform: uppercase;
			padding-left: 2rem;
			border-bottom: 1px solid #F4F3F5;
		}
		.categories li:hover {
			background-color: rgb(240,240,240)
		}
	/*-----ANOTHER BLOG POST-----*/
	.another-blog {
		background-color: white;
		border-radius: 10px;
		padding: 3rem;
		width: 52vw;
		margin-top: 2vw;
		line-height: 1.5rem;
		display: inline-block;
		float: left;
	}
	.another-blog h2 {
		font-weight: bold;
		font-size: 2rem;
		margin: 1rem 0;
		line-height: 2rem;
	}
	.another-blog a {
		color: #6200EA;
		border: 2px solid #6200EA;
		border-radius: 2rem;
		padding: 0.5rem 1.5rem;
		text-transform: uppercase;
		font-size: 0.7rem;
		font-weight: bold;
		letter-spacing: 0.1rem;
	}
	.another-blog p {
		margin-bottom: 1rem;
	}
	.another-blog .uppercase {
		color: #B2ACBA;
	}
	.another-blog a:hover {
		color: white;
		background-color: #6200EA;
		transition: 0.1s ease-in-out;
	}
	/*-----MEDIA QUERY-----*/
@media screen and (min-width: 1350px) {
	.content {
		width: 67vw;
	}
	.featured-blog-post, .sample-blog, .blog-img, .blog-img img, .another-blog {
		width: 44vw;
	}
	.latest-news, .recommended-news, .categories {
		width: 22vw
	}
	.latest-news img, .business-culture img, .recommended-news img {
		width: 7rem;
	}
	.latest-news p, .recommended-news p {
		width: calc(22vw - 10rem);
	}
	.design-content, .health-content, .politics-content, .science-content, .travel-content, .world-content, {
		font-size: 0.9rem;
		line-height: 1.1rem;
	}
	.business-culture {
		width: 44vw;
		margin-top: 1vw;
	}
	.business, .culture {
		width: 21.5vw;
		height: 9rem;
	}
	.business-content, .culture-content {
		width: calc(21vw - 10rem);
		font-size: 0.9rem;
		line-height: 1.1rem;
	}
	.latest-news h3, .business-culture h3, .recommended-news h3 {
		font-size: 0.8rem;
		margin-bottom: 1rem;
	}
	.sample-blog, .recommended-news, .blog-img, .categories, .another-blog {
		margin-top: 1vw;
	}
}
@media screen and (min-width: 1733px) {
	.design-content, .health-content, .politics-content, .business-content, .culture-content, .science-content, .travel-content, .world-content {
		font-size: 1rem;
		line-height: 1.2rem;
	}
}
